In [1]:
import os
import numpy as np
import pandas as pd
import wbdata

In [2]:
data = pd.read_excel('nightlight.xlsx')
data.columns = ['Code','Region','Year','Area Lit','Electricity Consumption','CO2 Emissions',
 'GDP','Population','N2O Emissions','CH4 Emissions','Fluoride Emissions','Poverty Headcount Ratio']
data = data.sort_values(by = ['Code', 'Year'])
data.head()

,Code,Region,Year,Area Lit,Electricity Consumption,CO2 Emissions,GDP,Population,N2O Emissions,CH4 Emissions,Fluoride Emissions,Poverty Headcount Ratio
5159,ABW,Aruba,1992,4.483482,-1.208885,14.359862,NaN,11.130713,NaN,NaN,NaN,NaN
4913,ABW,Aruba,1993,4.513180,-0.767720,14.387146,NaN,11.191314,NaN,NaN,NaN,NaN
4667,ABW,Aruba,1994,4.688400,-0.707449,14.382996,0.285305,11.247657,NaN,NaN,NaN,NaN
4421,ABW,Aruba,1995,4.721322,-0.619023,14.393338,0.278139,11.293849,NaN,NaN,NaN,NaN
4175,ABW,Aruba,1996,4.645059,-0.578409,14.403573,0.322003,11.328943,NaN,NaN,NaN,NaN

In [8]:
country_info = wbdata.get_country(display=False)
country_info = pd.DataFrame(country_info)
useful_columns = ['id', 'incomeLevel', 'latitude', 'longitude', 'name', 'region']

country_info = country_info[useful_columns]
country_info[['incomeLevel', 'region']] = country_info[['incomeLevel', 'region']].applymap(lambda x: x['value'])
country_info

,id,incomeLevel,latitude,longitude,name,region
0,ABW,High income,12.5167,-70.0167,Aruba,Latin America & Caribbean
1,AFG,Low income,34.5228,69.1761,Afghanistan,South Asia
2,AFR,Aggregates,,,Africa,Aggregates
3,AGO,Lower middle income,-8.81155,13.242,Angola,Sub-Saharan Africa
4,ALB,Upper middle income,41.3317,19.8172,Albania,Europe & Central Asia
5,AND,High income,42.5075,1.5218,Andorra,Europe & Central Asia
6,ANR,Aggregates,,,Andean Region,Aggregates
7,ARB,Aggregates,,,Arab World,Aggregates
8,ARE,High income,24.4764,54.3705,United Arab Emirates,Middle East & North Africa
9,ARG,High income,-34.6118,-58.4173,Argentina,Latin America & Caribbean
10,ARM,Upper middle income,40.1596,44.509,Armenia,Europe & Central Asia
11,ASM,Upper middle income,-14.2846,-170.691,American Samoa,East Asia & Pacific
12,ATG,High income,17.1175,-61.8456,Antigua and Barbuda,Latin America & Caribbean
13,AUS,High income,-35.282,149.129,Australia,East Asia & Pacific
14,AUT,High income,48.2201,16.3798,Austria,Europe & Central Asia
15,AZE,Upper middle income,40.3834,49.8932,Azerbaijan,Europe & Central Asia
16,BDI,Low income,-3.3784,29.3639,Burundi,Sub-Saharan Africa
17,BEA,Aggregates,,,East Asia & Pacific (IBRD-only countries),Aggregates
18,BEC,Aggregates,,,Europe & Central Asia (IBRD-only countries),Aggregates
19,BEL,High income,50.8371,4.36761,Belgium,Europe & Central Asia
20,BEN,Low income,6.4779,2.6323,Benin,Sub-Saharan Africa
21,BFA,Low income,12.3605,-1.53395,Burkina Faso,Sub-Saharan Africa
22,BGD,Lower middle income,23.7055,90.4113,Bangladesh,South Asia
23,BGR,Upper middle income,42.7105,23.3238,Bulgaria,Europe & Central Asia
24,BHI,Aggregates,,,IBRD countries classified as high income,Aggregates
25,BHR,High income,26.1921,50.5354,Bahrain,Middle East & North Africa
26,BHS,High income,25.0661,-77.339,"Bahamas, The",Latin America & Caribbean
27,BIH,Upper middle income,43.8607,18.4214,Bosnia and Herzegovina,Europe & Central Asia
28,BLA,Aggregates,,,Latin America & the Caribbean (IBRD-only count...,Aggregates
29,BLR,Upper middle income,53.9678,27.5766,Belarus,Europe & Central Asia
...,...,...,...,...,...,...
274,TMN,Aggregates,,,Middle East & North Africa (IDA & IBRD countries),Aggregates
275,TON,Upper middle income,-21.136,-175.216,Tonga,East Asia & Pacific
276,TSA,Aggregates,,,South Asia (IDA & IBRD),Aggregates
277,TSS,Aggregates,,,Sub-Saharan Africa (IDA & IBRD countries),Aggregates
278,TTO,High income,10.6596,-61.4789,Trinidad and Tobago,Latin America & Caribbean
279,TUN,Lower middle income,36.7899,10.21,Tunisia,Middle East & North Africa
280,TUR,Upper middle income,39.7153,32.3606,Turkey,Europe & Central Asia
281,TUV,Upper middle income,-8.6314877,179.089567,Tuvalu,East Asia & Pacific
282,TWN,High income,,,"Taiwan, China",East Asia & Pacific
283,TZA,Low income,-6.17486,35.7382,Tanzania,Sub-Saharan Africa
284,UGA,Low income,0.314269,32.5729,Uganda,Sub-Saharan Africa
285,UKR,Lower middle income,50.4536,30.5038,Ukraine,Europe & Central Asia
286,UMC,Aggregates,,,Upper middle income,Aggregates
287,URY,High income,-34.8941,-56.0675,Uruguay,Latin America & Caribbean
288,USA,High income,38.8895,-77.032,United States,North America
289,UZB,Lower middle income,41.3052,69.269,Uzbekistan,Europe & Central Asia
290,VCT,Upper middle income,13.2035,-61.2653,St. Vincent and the Grenadines,Latin America & Caribbean
291,VEN,Upper middle income,9.08165,-69.8371,"Venezuela, RB",Latin America & Caribbean
292,VGB,High income,18.431389,-64.623056,British Virgin Islands,Latin America & Caribbean
293,VIR,High income,18.3358,-64.8963,Virgin Islands (U.S.),Latin America & Caribbean
294,VNM,Lower middle income,21.0069,105.825,Vietnam,East Asia & Pacific
295,VUT,Lower middle income,-17.7404,168.321,Vanuatu,East Asia & Pacific
296,WLD,Aggregates,,,World,Aggregates
297,WSM,Upper middle income,-13.8314,-171.752,Samoa,East Asia & Pacific
298,XKX,Lower middle income,42.565,20.926,Kosovo,Europe & Central Asia
299,XZN,Aggregates,,,Sub-Saharan Africa excluding South Africa and ...,Aggregates
300,YEM,Low income,15.352,44.2075,"Yemen, Rep.",Middle East & North Africa
301,ZAF,Upper middle income,-25.746,28.1871,South Africa,Sub-Saharan Africa
302,ZMB,Lower middle income,-15.3982,28.2937,Zambia,Sub-Saharan Africa
303,ZWE,Low income,-17.8312,31.0672,Zimbabwe,Sub-Saharan Africa

In [3]:
country_info = wbdata.get_country(display=False)
country_info = pd.DataFrame(country_info)
useful_columns = ['id', 'incomeLevel', 'latitude', 'longitude', 'name', 'region']
country_info = country_info[useful_columns]
country_info[['incomeLevel', 'region']] = country_info[['incomeLevel', 'region']].applymap(lambda x: x['value'])
country_info = country_info.query('incomeLevel not in "Aggregates"')
country_info.columns = ['Code', 'IncomeLevel', 'Latitude', 'Longitude', 'Country', 'Region']
country_info2 = pd.read_csv('Country.csv')
country_info = country_info.merge(country_info2[['CountryCode', 'IncomeGroup']], how='left', 
                                  left_on='Code', right_on='CountryCode')
country_info = country_info.drop(['CountryCode', 'IncomeLevel'], axis = 1)
country_info.head()

,Code,Latitude,Longitude,Country,Region,IncomeGroup
0,ABW,12.5167,-70.0167,Aruba,Latin America & Caribbean,High income: nonOECD
1,AFG,34.5228,69.1761,Afghanistan,South Asia,Low income
2,AGO,-8.81155,13.242,Angola,Sub-Saharan Africa,Upper middle income
3,ALB,41.3317,19.8172,Albania,Europe & Central Asia,Upper middle income
4,AND,42.5075,1.5218,Andorra,Europe & Central Asia,NaN

In [4]:
useful_inds_list = pd.read_csv('wb_selected_indicators.csv')
useful_inds_list

,IndicatorCode,IndicatorName,ShortName
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors",Agricultural machinery
1,AG.CON.FERT.ZS,Fertilizer consumption (kilograms per hectare ...,Fertilizer consumption
2,AG.LND.AGRI.K2,Agricultural land (sq. km),Agricultural land area
3,AG.LND.FRST.K2,Forest area (sq. km),Forest area
4,AG.LND.TOTL.K2,Land area (sq. km),Land area
5,AG.PRD.CROP.XD,Crop production index (2004-2006 = 100),Crop production index
6,AG.PRD.FOOD.XD,Food production index (2004-2006 = 100),Food production index
7,AG.PRD.LVSK.XD,Livestock production index (2004-2006 = 100),Livestock production index
8,AG.SRF.TOTL.K2,Surface area (sq. km),Surface area
9,EG.EGY.PRIM.PP.KD,Energy intensity level of primary energy (MJ/d...,Energy intensity level
10,EG.USE.CRNW.ZS,Combustible renewables and waste (% of total e...,Combustible renewables and waste
11,EG.USE.PCAP.KG.OE,Energy use (kg of oil equivalent per capita),Energy use
12,EN.ATM.PM25.MC.M3,"PM2.5 air pollution, mean annual exposure (mic...",PM2.5 air pollution
13,SE.ADT.1524.LT.ZS,"Youth literacy rate, population 15-24 years, b...",Youth literacy rate
14,SE.ADT.LITR.ZS,"Adult literacy rate, population 15+ years, bot...",Adult literacy rate
15,SE.ENR.PRIM.FM.ZS,"Gross enrolment ratio, primary, gender parity ...",Gender parity index (GPI)
16,SE.PRM.CMPT.ZS,"Primary completion rate, both sexes (%)",Primary completion rate
17,SE.PRM.DURS,Theoretical duration of primary education (years),Duration of primary education
18,SE.PRM.ENRL,"Enrolment in primary education, both sexes (nu...",Enrolment in primary education
19,SE.PRM.ENRR,"Gross enrolment ratio, primary, both sexes (%)",Gross enrollment ratio
20,SE.PRM.PRS5.ZS,"Survival rate to Grade 5 of primary education,...",Survival rate to Grade 5
21,SE.PRM.UNER,"Out-of-school children of primary school age, ...",Out-of-school children
22,SE.XPD.PRIM.PC.ZS,Government expenditure per primary student as ...,Government expenditure
23,SH.H2O.SAFE.ZS,Improved water source (% of population with ac...,Improved water source
24,SH.MED.BEDS.ZS,"Hospital beds (per 1,000 people)",Hospital beds
25,SH.MED.NUMW.P3,"Nurses and midwives (per 1,000 people)",Nurses and midwives
26,SH.MED.PHYS.ZS,"Physicians (per 1,000 people)",Physicians
27,SH.MMR.DTHS,Number of maternal deaths,Number of maternal deaths
28,SH.STA.ACSN,Improved sanitation facilities (% of populatio...,Improved sanitation facilities
29,SH.STA.BRTW.ZS,Low-birthweight babies (% of births),Low-birthweight babies
30,SH.XPD.OOPC.TO.ZS,Out-of-pocket health expenditure (% of total e...,Out-of-pocket health expenditure
31,SH.XPD.PCAP,Health expenditure per capita (current USdollar),Health expenditure per capita
32,SL.EMP.1524.SP.NE.ZS,"Employment to population ratio, ages 15-24, to...",Employment to population ratio
33,SL.EMP.VULN.ZS,"Vulnerable employment, total (% of total emplo...",Vulnerable employment
34,SL.FAM.WORK.ZS,"Contributing family workers, total (% of total...",Contributing family workers
35,SL.IND.EMPL.ZS,Employment in industry (% of total employment),Employment in industry
36,SL.TLF.ACTI.1524.NE.ZS,"Labor force participation rate for ages 15-24,...",Labor force participation rate for youth
37,SM.POP.REFG,Refugee population by country or territory of ...,Refugee population (asylum)
38,SM.POP.REFG.OR,Refugee population by country or territory of ...,Refugee population (origin)
39,SP.ADO.TFRT,"Adolescent fertility rate (births per 1,000 wo...",Adolescent fertility rate
40,SP.DYN.CBRT.IN,"Birth rate, crude (per 1,000 people)",Birth rate
41,SP.DYN.CDRT.IN,"Death rate, crude (per 1,000 people)",Death rate
42,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",Life expectancy
43,VC.IHR.PSRC.P5,"Intentional homicides (per 100,000 people)",Intentional homicides

In [5]:
indicators = {}
for i in range(useful_inds_list.shape[0]):
    indname = useful_inds_list['IndicatorCode'][i]
    indicators[indname] = useful_inds_list['ShortName'][i]

# extdata = wbdata.get_dataframe(indicators).reset_index()
# extdata['Year'] = pd.to_numeric(extdata['date'])
# extdata.to_csv('extdata.csv')

extdata = pd.read_csv('extdata.csv', index_col=0)
extdata.head()

,country,date,Agricultural machinery,Fertilizer consumption,Agricultural land area,Forest area,Land area,Crop production index,Food production index,Livestock production index,...,Employment in industry,Labor force participation rate for youth,Refugee population (asylum),Refugee population (origin),Adolescent fertility rate,Birth rate,Death rate,Life expectancy,Intentional homicides,Year
0,Afghanistan,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,145.245,51.293,32.396,32.292,NaN,1960
1,Afghanistan,1961,120.0,NaN,377000.0,NaN,652860.0,65.69,53.21,43.37,...,NaN,NaN,NaN,NaN,145.245,51.395,31.898,32.742,NaN,1961
2,Afghanistan,1962,150.0,NaN,377600.0,NaN,652860.0,67.18,53.86,43.99,...,NaN,NaN,NaN,NaN,145.245,51.488,31.414,33.185,NaN,1962
3,Afghanistan,1963,200.0,NaN,378100.0,NaN,652860.0,65.58,53.83,47.03,...,NaN,NaN,NaN,NaN,145.245,51.572,30.938,33.624,NaN,1963
4,Afghanistan,1964,200.0,NaN,378730.0,NaN,652860.0,71.31,58.23,48.56,...,NaN,NaN,NaN,NaN,145.245,51.644,30.467,34.060,NaN,1964

In [6]:
extdata = extdata.merge(country_info, left_on='country', right_on='Country')
extdata = extdata.drop(['country', 'Country', 'date'], axis = 1)
extdata.head()

,Agricultural machinery,Fertilizer consumption,Agricultural land area,Forest area,Land area,Crop production index,Food production index,Livestock production index,Surface area,Energy intensity level,...,Birth rate,Death rate,Life expectancy,Intentional homicides,Year,Code,Latitude,Longitude,Region,IncomeGroup
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.293,32.396,32.292,NaN,1960,AFG,34.5228,69.1761,South Asia,Low income
1,120.0,NaN,377000.0,NaN,652860.0,65.69,53.21,43.37,652860.0,NaN,...,51.395,31.898,32.742,NaN,1961,AFG,34.5228,69.1761,South Asia,Low income
2,150.0,NaN,377600.0,NaN,652860.0,67.18,53.86,43.99,652860.0,NaN,...,51.488,31.414,33.185,NaN,1962,AFG,34.5228,69.1761,South Asia,Low income
3,200.0,NaN,378100.0,NaN,652860.0,65.58,53.83,47.03,652860.0,NaN,...,51.572,30.938,33.624,NaN,1963,AFG,34.5228,69.1761,South Asia,Low income
4,200.0,NaN,378730.0,NaN,652860.0,71.31,58.23,48.56,652860.0,NaN,...,51.644,30.467,34.060,NaN,1964,AFG,34.5228,69.1761,South Asia,Low income

In [7]:
def describe_data(data):
    ncountries = len(data['Code'].unique())
    nvars = data.shape[1] - 4
    print('data has {} countries and {} variables'.format(ncountries, nvars))

In [8]:
data_all = pd.merge(data.drop('Region', axis=1), extdata, 
                    on=['Code', 'Year']).query('Year > 1995 and Year < 2014')
describe_data(data_all)

data has 212 countries and 55 variables

In [9]:
var_missing_df = data_all.isna().mean()
nomissing_vars = var_missing_df.index.values[var_missing_df.values < 0.15]
data_all = data_all[nomissing_vars]
describe_data(data_all)

data has 212 countries and 26 variables

In [10]:
country_missing_df = data_all.groupby('Code').aggregate(lambda x: x.isna().mean()).apply(max, axis = 1)
nomissing_countries = country_missing_df.index.values[country_missing_df.values == 0]
data_all = data_all.query('Code in @nomissing_countries')
describe_data(data_all)

data has 131 countries and 26 variables

In [11]:
data_all.columns

Index(['Code', 'Year', 'Area Lit', 'Electricity Consumption', 'CO2 Emissions',
       'GDP', 'Population', 'Agricultural land area', 'Forest area',
       'Land area', 'Crop production index', 'Food production index',
       'Livestock production index', 'Surface area', 'Energy intensity level',
       'Duration of primary education', 'Number of maternal deaths',
       'Improved sanitation facilities', 'Vulnerable employment',
       'Contributing family workers', 'Employment in industry',
       'Refugee population (origin)', 'Adolescent fertility rate',
       'Birth rate', 'Death rate', 'Life expectancy', 'Latitude', 'Longitude',
       'Region', 'IncomeGroup'],
      dtype='object')

In [12]:
varnames = [x for x in data_all.columns.values if x not in 
            ['Code', 'Year', 'Region', 'IncomeGroup', 'Latitude', 'Longitude']]
data_all_lag = data_all.copy()
for var in varnames:
    for lag in [1, 2]:
        lag_varname = var + '_lag_' + str(lag)
        data_all_lag[lag_varname] = data_all_lag[var].shift(lag)
    data_all_lag[var + '_diff'] = data_all_lag[var] - data_all_lag[var + '_lag_1']
    data_all_lag[var + '_diff_2'] = data_all_lag[var + '_lag_1'] - data_all_lag[var + '_lag_2']

data_all_lag = data_all_lag.query('Year > 1997')
# data_all_lag.to_csv('data_lag.csv')

In [13]:
data_all_lag = pd.read_csv('data_lag.csv')
varnames = [x for x in data_all_lag.columns.values if "diff" in x or x in ['Latitude', 'Longitude']]
data_all_diff = data_all_lag[varnames]

In [14]:
y = data_all_diff['GDP_diff'].values
X_df = data_all_diff.drop('GDP_diff', axis = 1)
varnames = X_df.columns
X = X_df.values

In [15]:
from sklearn.ensemble import RandomForestRegressor

def RF_oob(X, y):
    model = RandomForestRegressor(n_estimators=100, min_samples_leaf=8, random_state=20181125, oob_score=True)
    model.fit(X, y)
    return(model.oob_score_)

def RF_permute_oob(X, y, j, nreps = 50):
    scores = np.empty(nreps)
    for i in range(nreps):
        permute_X = np.array(X)
        permute_X[:, j] = np.random.permutation(permute_X[:, j])
        scores[i] = RF_oob(permute_X, y)
#         if i % 10 == 9:
#             print('{}-th step finished'.format(i + 1))
    return(scores)

def RF_permute_varimp(X, y, nreps = 50):
    orig_oob = RF_oob(X, y)
    p = X.shape[1]
    permute_oob = np.empty((p, nreps))
    for j in range(p):
        permute_oob[j, :] = RF_permute_oob(X, y, j, nreps)
        print('{}-th variable done!'.format(j+1))
    mean_oob = [np.mean(x) for x in permute_oob]
    mean_decrease_imp = orig_oob - mean_oob
    pvals_oob = [np.mean(x > orig_oob) for x in permute_oob]
    res = pd.DataFrame({'imp': mean_decrease_imp, 'pvals': pvals_oob})
    return(res)

In [16]:
RF_oob(X, y)

0.21700379794313152

In [17]:
global_imp = RF_permute_varimp(X, y, nreps=50)
global_imp['var'] = varnames
global_imp.to_csv('global_imp.csv')

1-th variable done!
2-th variable done!
3-th variable done!
4-th variable done!
5-th variable done!
6-th variable done!
7-th variable done!
8-th variable done!
9-th variable done!
10-th variable done!
11-th variable done!
12-th variable done!
13-th variable done!
14-th variable done!
15-th variable done!
16-th variable done!
17-th variable done!
18-th variable done!
19-th variable done!
20-th variable done!
21-th variable done!
22-th variable done!
23-th variable done!
24-th variable done!
25-th variable done!
26-th variable done!
27-th variable done!
28-th variable done!
29-th variable done!
30-th variable done!
31-th variable done!
32-th variable done!
33-th variable done!
34-th variable done!
35-th variable done!
36-th variable done!
37-th variable done!
38-th variable done!
39-th variable done!
40-th variable done!
41-th variable done!
42-th variable done!
43-th variable done!
44-th variable done!
45-th variable done!
46-th variable done!
47-th variable done!
48-th variable done!
49-th variable done!